/* body  */

	body {
		font-family: arial;
		padding-left: 280px;
	}	

/* body end  */

/*  nav */

	nav {
		padding: 10px 0 0 10px;
		width: 240px;
		position: fixed;
		left: 10px;
	}

	nav ul {
		list-style: none; 
		padding-left: 0;
	}

	nav li a {
		text-decoration: none;
		text-transform: uppercase;
		background-color: #e5005f;
		color: #ffffff;
		font-size: x-large; 
		padding: 5px 10px;
		display: inline-block;
		margin: 2px;
	}

	nav li a:hover,
	#active {
		background-color: #333333;
	}

	/* sub nav */

		nav > a{
			display: block;
			text-decoration: none;
			color: #333333;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}

		nav > a:hover{
			color: #e5005f;
		}


/* main */
	main {
		float: left;
		width: 49%;
	}

	/* aside */
		/* email */
			main aside p {
				background-color: #eeeeee;
				padding: 10px;
			}

		hr {
			border: none;
			border-top: 1px solid #dddddd;
		}

	/* article */

	article img{
		max-width: 100%;
	}	

	.related div{
		text-align: center;
		width: 240px;
	}

	.relater:after{
		content: '';
		display: block;
		clear: both;
	}
			
	.related div:nth-of-type(1) {
		float: left;
		margin-left: 60px; 
	}

	.related div:nth-of-type(2) {
		float: right;
		margin-right: 60px; 
	}

	.related img{
		border-radius: 50%;
	}

	.related div a {
		background-color: #e5005f;
		display: block;
		padding: 10px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: -20px;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; 

	}
	
	.related div a:hover {
		background-color: #333333;
	}

	#scroll-left,
	#scroll-right{
		font-size: 42px;
		border:none;
		background-color: transparent;
		cursor: pointer;
		color: #e5005f;
		position: absolute;
		top: 50%;
	}

	#scroll-left{ 
		left:0;
	}

	#scroll-right{ 
		right:0;
	}

	.related {
		position: relative;
	}

	.related:after {
		content: '';
		display: block;
		clear: both;
	}

	.related h1 {
		text-align: center;
		width: 100px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		background-color: #ffffff;
	}

	.related hr {
		border: none;
		border-top: 1px solid #dddddd;
		position: relative;
		top: -22px;

	}






/* side */

#extra {
	width: 49%;
	float: right;
	background-color: #eeeeee;
}	

#social{
	background-color: #e5005f;
	color: #ffffff;
	padding: 20px;
	text-align: right;

}

#social a{
	color: inherit;
	text-decoration: none;
}

#newsletter p {
	font-weight: bold;
	text-align: right;
	padding-right: 60px;

}

#newsletter {
	padding: 20px 0;
	background-color: #dddddd;
	background-image: url(../img/envelope2.png);
	background-repeat: no-repeat;
	background-position: 15px, center;
}

#newsletter a{
	color: #ffffff;
	padding: 12px;
	text-decoration: none;
	background-color: #e5005f;
	text-transform: uppercase;
	font-weight: normal;
}

#newsletter a:hover{
	background-color: #333333;

}	


#extra section > h1 {
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 5px;
}

#extra section{
	margin-bottom: 40px;

} 






#left {
	float: left;
	width: 45%;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

#comment img {
	float: left;
	margin-right: 10px;
}

#comment p a {
	font-weight: bold;
	text-decoration: none;
	color: #333333;
}

#comment p a:hover {
	text-decoration: underline;
}

#comment article > a{
	color: #e5005f;
	text-decoration: none;
	font-size: small;
}	

#comment article > a:hover{
	text-decoration: underline;
}	

#top-5 {
	padding: 10px;
	background-color: #ffffff;
}

#top-5 img{
	float: left;
	margin-right: 10px;
}

#top-5 a {
	color: #333333;
	font-size: 16px;
	text-decoration: none;
}

#top-5 a:hover {
	color: #000000;
	text-decoration: underline;
}

#top-5 article {
	border-bottom: 1px dashed #dddddd;
	padding-bottom: 10px;
}

#top-5 article:after{
	content: '';
	display: block;
	clear: both;
}










#right {
	float: right;
	width: 55%;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

#sponsors img{
	width: calc (33.333% - 8px);
	float: left;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid #dddddd;
	margin: 4px;
}

#property h1 span {
	color: #777777;
	display: block;
	text-transform: none;
	font-size: 14px;
}










	

















































/* end */
