/* body  */

	body {
		font-family: arial;
		padding-left: 280px;
	}	

/* body end  */

/*  nav */

	nav {
		padding: 10px 0 0 10px;
		width: 240px;
		position: fixed;
		left: 10px;
	}

	nav ul {
		list-style: none; 
		padding-left: 0;
	}

	nav li a {
		text-decoration: none;
		text-transform: uppercase;
		background-color: #e5005f;
		color: #ffffff;
		font-size: x-large; 
		padding: 5px 10px;
		display: inline-block;
		margin: 2px;
	}

	nav li a:hover,
	#active {
		background-color: #333333;
	}

	/* sub nav */

		nav > a{
			display: block;
			text-decoration: none;
			color: #333333;
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: bold;
		}

		nav > a:hover{
			color: #e5005f;
		}


/* main */
	main {
		width: 45%;
	}

	/* aside */
		/* email */
			main aside p {
				background-color: #eeeeee;
				padding: 10px;
			}

		hr {
			border: none;
			border-top: 1px solid #dddddd;
		}

	/* article */

	article img{
		max-width: 100%;
	}	

	.related div{
		text-align: center;
		width: 240px;
	}

	.relater:after{
		content: '';
		display: block;
		clear: both;
	}
			
	.related div:nth-of-type(1) {
		float: left;
		margin-left: 60px; 
	}

	.related div:nth-of-type(2) {
		float: right;
		margin-right: 60px; 
	}

	.related img{
		border-radius: 50%;
	}

	.related div a {
		background-color: #e5005f;
		display: block;
		padding: 10px;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		margin-top: -20px;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; 

	}
	
	.related div a:hover {
		background-color: #333333;
	}

	#scroll-left,
	#scroll-right{
		font-size: 42px;
		border:none;
		background-color: transparent;
		cursor: pointer;
		color: #e5005f;
		position: absolute;
		top: 50%;
	}

	#scroll-left{ 
		left:0;
	}

	#scroll-right{ 
		right:0;
	}

	.related {
		position: relative;
	}

	.related:after {
		content: '';
		display: block;
		clear: both;
	}

	.related h1 {
		text-align: center;
		width: 100px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		background-color: #ffffff;
	}

	.related hr {
		border: none;
		border-top: 1px solid #dddddd;
		position: relative;
		top: -22px;

	}


	

















































/* end */
